/* base */
* {
  box-sizing: border-box;
}

body {
  background: #eee;
  margin: 0;
  font-family: "Noto Sans JP", "Helvetica Neue", "Helvetica", "Hiragino Sans",
    "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #333;
}

/* grid */
/* 親要素を指定 */
.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  padding: 5px;
}

.grid-4 .grid-item {
  width: 25%;
}
.grid-2 .grid-item {
  width: 50%;
}
.grid-6 .grid-item {
  width: 16.6%;
}

@media screen and (max-width: 768px) {
  .grid-2 .grid-item,
  .grid-4 .grid-item,
  .grid-6 .grid-item {
    width: 100%;
  }
}

.block {
  display: block;
  background: rgb(123, 120, 122);
  width: 100%;
  min-height: 50px;
  border-radius: 10px;
  border: 2px solid rgb(43, 41, 41);
}

.container {
  display: grid;
  place-items: center;
  height: 100%;
}

.loginBox {
  width: 320px;
  height: 420px;
  background: #fff;
  color: #000;
  top: 50%;
  left: 50%;
  margin: 20px;
  /* transform: translate(-50%, -50%); */
  box-sizing: border-box;
  place-items: center;
}

.loginBox form {
  padding: 20px; /* フォーム全体に余白を追加 */
}

.loginBox h1 {
  margin: 0px;
  padding: 20px 0 20px;
  text-align: center;
  font-size: 26px;
}

.loginBox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.loginBox input {
  width: 100%;
  margin-bottom: 20px;
}

.loginBox input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid #000;
  background: transparent;
  /* outline none; */
  height: 40px;
  color: #000;
  font-size: 16px;
}
/* ここinput[type="submit"] 　スペース入れると反映されない */
.loginBox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #fb2525;
  color: #fff;
  font-size: 18px;
  border-radius: 10px;
}

.loginBox input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}

.loginBox a {
  text-decoration: none;
  font-size: 12px;
  lineheight: 20px;
  color: #000;
}

.loginBox a:hover {
  color: blue;
}
